<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <a class="topbar-responsive-logo" href="./"><strong>Static site</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>  
      </ul>
    </div>
  </div>
</nav>
